
* {
    box-sizing: border-box;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding-top: 20px;
}

.block {
    width: 100%;
    
}

.first {
    background: #eff0f2;
    padding-top: 64px;
    padding-bottom: 135px;
    padding-left: 150px;
    padding-right: 150px;
}

.m_width {
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
}

.head {
    text-align: justify;
    /* padding: 0 150px; */
    /* max-width: 1440px; */
    margin-bottom: 160px;
} 

.logo {
    width: 113px;
    vertical-align: middle;
    display: inline-block;
}

.tik {
    width: 30px;
    height: 4px;
    background-color: black;
    margin-bottom: 4px;
}

.burger {
    width: 30px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-left: calc(100% - 30px - 120px);
}

.title {
    font-family: 'Montserrat';
    font-size: 45px;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24); 
    font-weight: 700;
    color: #505050;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 100px;
    
}

.pick_out {
    background-color: #b3f2ee;
    padding: 0 5px;
    max-width:  0 -5px;
}

 .glass {
    width: 77px;
    height: 84px; 
    background-color: #eff0f2;
    margin-left: calc(100% - 150px);
    margin-top: -30px;
    position: relative;
}

.contact { 
    border: 2px solid #000000; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 50px;
}


.about {
    background: #f8fafa;
    padding-top: 130px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
 
.hat {
    color: rgba(25,25,25, 0.9);
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    margin: 0 auto;

}   
    
.hat_text {
    display: inline-block;
    font-family: 'Merriweather';
    color: rgba(25,25,25, 0.7);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.08px;
    padding-bottom: 150px;
    margin: 0px auto;
}

.about_container {
   display: inline-block;
   vertical-align: top;   
   width: 100%;
}

.img_work_place {
    width: 483px;
    /* width: calc(50% -110px); */
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.back {
    width: 100%;
    height: 412px;
    top: 10%;
    background-color: #eff0f2;
    position: absolute;
    z-index: 0;
}

.radio {
    position: relative;
    display: inline-block;
    padding-top: 40px;
    z-index: 2;
}

.big {
    transform: scale(1.5);
    opacity: 0.9;
    cursor: pointer;
}

.img_work_place img {
    width: 392px;
    position: relative;
    z-index: 1;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
}

.img_work_place:hover .back {
    background-color: #b3f2ee;
}

.work_place_content {
    margin-left: 113px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 474px;
    /* width: calc(50% - 20px); */
}

.work_place {
    color: rgba(25,25,25, 0.75);
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.work{
    color: rgba(25,25,25, 0.75);
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    text-align: justify;
}

.future {
    background: #ffffff;
    padding-top: 130px;
    padding-bottom: 125px;
    padding-left: 150px;
    padding-right: 150px;
}

.future_container {
    width: 100%;
    display: inline-block;
}

.future_item  {
    display: inline-block;
    width: calc((100%/3) - 3px);
    padding-bottom: 7px;  
}

.services {
    background: #f8fafa;
    padding-top: 130px;
    padding-bottom: 125px;
    padding-left: 150px;
    padding-right: 150px;
}

 .services_container {
    width: 100%;
    font-size: 0;
    

}

.services_line_1 {
    width: 100%;
    /* height: 422px; */
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
    
}

.services_line_2 {
    height: 371px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
    
}

.services_line_3 {
    height: 370px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
}

.back0 {
    height: 100%;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 2;
}

.text_servises {
    width: 85%;
    height: 90%;
    padding-left: 65px;
    padding-right: 50px;
    text-align: left;
    position: absolute;
    bottom: -100px;
}

.back0:hover  {
    background: rgba(109, 246, 235, 1); 
}

.link_more {
    text-decoration: none;
    color: rgba(249, 251, 251, 0.9);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    line-height: 85px;
    text-transform: uppercase;
    letter-spacing: 0.72px;  
}


.block1_1_0 {
    height: 422px;
    width: 650px;
    position: relative;
    display: inline-block;
}

.block1_1 {  
    height: 100%;
    width: 100%;
    background: url('../images/ser1_1.png');
    background-size: contain;
    margin-right: 7px;
    position: absolute;
    z-index: 1;
}

.block1_2_0 {
    height: 422px;
    width: 470px;
    position: relative;
    display: inline-block;
}

.block1_2 {
    height: 100%;
    width: 100%;
    background:  rgba(0, 0, 0, 0.65);
    background: url('../images/ser1_2.png');
    background-size: contain;
    position: absolute;
    z-index: 1;
}

.h3 {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Merriweather';
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.p {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.32px;
}

.h_flash {
    color: rgba(0, 0, 0, 0.83);
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.flash {
    text-align: left;
    color: rgba(0, 0, 0, 0.75);
    font-size: 18px;
    letter-spacing: 0.4px;
    font-family: 'Raleway';
    line-height: 28px;
    letter-spacing: 0.4px;
}

.block2_1_0 {
    height: 370px;
    width: 650px;
    position: relative;
    display: inline-block;
}

.block2_1 {  
    height: 100%;
    width: 100%;
    background: url('../images/ser2_1.png') center no-repeat;
    background-size: contain;
    margin-right: 7px;
    position: absolute;
    z-index: 1;
}

.block2_2_0 {
    height: 370px;
    width: 470px;
    position: relative;
    display: inline-block;
}

.block2_2 {
    height: 100%;
    width: 100%;
    background:  rgba(0, 0, 0, 0.65);
    background: url('../images/ser2_2.png');
    background-size: contain;
    position: absolute;
    z-index: 1;
}

.block3_1_0 {
    height: 370px;
    width: 470px;
    position: relative;
    display: inline-block;
}

.block3_1 {  
    height: 100%;
    width: 100%;
    background: url('../images/ser3_1.png');
    background-size: cover;
    margin-right: 7px;
    position: absolute;
    z-index: 1;
}

.block3_2_0 {
    height: 370px;
    width: 650px;
    position: relative;
    display: inline-block;
}

.block3_2 {
    height: 100%;
    width: 100%;
    background:  rgba(0, 0, 0, 0.65);
    background: url('../images/ser3_2.png') center no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
}

.team {
    background: #ffffff;
    padding-top: 120px;
    padding-bottom: 115px;
    padding-left: 150px;
    padding-right: 150px;
}

.team_container {
    width: 100%;
}

.person {
    display: inline-block;
    width: calc((100%/3) - 3px);
    padding-bottom: 7px;  
}

.team_line {
    display: inline-block;
    vertical-align: top
    height: 440px;
}

.what_say {
    background: #f8fafa;
    padding-top: 120px;
    padding-bottom: 140px;
    padding-left: 150px;
    padding-right: 150px;
}

.what_say_container {
    display: inline-block;
    vertical-align: top;   
      /* height: 610px; */
 }
 
.what_say_l {
    width: 393px;  
}

.what_say_slide {
    width: 394px;
    text-align: center;
       /* height: 410px; */
}

.back_person {
    width: 393px;
    height: 350px;
    background-color: #eff0f2;
    position: absolute;
    z-index: 0;
    margin-top: 30px;
    
 }

.what_img {
    height: 410px;
    /* background-repeat: no-repeat; */
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 1;
}

 

 .what_say_slide  .back_person:hover {
     background-color: #b3f2ee;
 }

 .what_say_r {
    margin-left: 70px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 666px;
    background-color: #eff0f2;
    width: 666px;
    height: 362px;
 }

.what_say_hat {
    color: rgba(0, 0, 0, 1);
    font-family: 'Merriweather', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 50px;
    
}

.what_say_hat_2 {
    font-family: 'Merriweather';
    color: rgba(120, 120, 120, 0.7);
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
    text-transform: uppercase;
}


.what_say_text{
    color: rgba(25,25,25, 0.7);
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.96px;
    background-position: center;
    padding: 20px;
}

.arrow_r {
        text-decoration:none; 
        text-align:center; 
        padding:11px 32px; 
        border:solid 3px #004F72; 
        border-radius: 4px; 
        font:50px "Courier New", Courier, monospace; 
        font-weight:bold; 
        color:#E5FFFF; 
        background-color:#3BA4C7; 
        background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
        background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
        background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
        background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
        background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
        -webkit-box-shadow:6px 4px 2px #bababa, inset 0px 0px 1px #ffffff; 
        -moz-box-shadow: 6px 4px 2px #bababa,  inset 0px 0px 1px #ffffff;  
        box-shadow:6px 4px 2px #bababa, inset 0px 0px 1px #ffffff;  
        opacity:0.8; 
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); 
        filter: alpha(opacity=80); 
         }
}
